<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <title>ebetl: Stock</title>
      
  
</head>

<body>

<div class="page-header">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>      
      <li><a href="/b2b">B2b</a></li>  
    </ol>
</div>

<!-- List dimensions from the model

<div class="btn-group">
    <py:for each="dimension in dimensions">
        <button class="btn">
        <a href="/sales/index/{dimension.name}">{dimension.label or dimension.name}</a>
        </button>
    </py:for>
</div>
 -->



<div class="row">
   <!--
  <div class="col-md-1 hide">

    <div class="panel panel-default">
      <div class="panel-heading">Purchases</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a href="/stock">Suppliers</a></li>
        </ul>      
      </div>
     </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">Receive/Deliver By Orders</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a href="#">Incoming Shipments</a></li>
          <li><a href="#">Delivery Orders</a></li>
        </ul>      
      </div>
     </div>
     
     <div class="panel panel-default">
      <div class="panel-heading">Receive/Deliver Products</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a href="#">Incoming Products</a></li>
          <li><a href="#">Deliver Products</a></li>
        </ul>      
      </div>
     </div>

     <div class="panel panel-default">
      <div class="panel-heading">Products</div>
      <div class="panel-body">
        <ul class="nav nav-pills">
          <li><a href="#">Products by Category</a></li>
          <li><a href="/item">Products</a></li>
        </ul>      
      </div>
     </div>

     
   </div>
    -->
  <div class="col-md-12">
  

<py:if test="results">

<h1>Documents</h1>


<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th></th>         
    </tr>
    </thead>
    <tbody>

    <tr py:for="row in results">
        <td>${[row[0].codiceprovenienza]}</td>
        <td>${[row[0].provenienza]}</td>
        <td>${[format_date(row[1])]}</td>
        <td class="text-right"><a href="/b2b/show/${row[0]}"> ${[row[2]]}</a></td>        
        <td class="text-right" py:for="r in row[3:7]">${[todecimal(r)]}</td>                     
    </tr>


    </tbody>
</table> 

<pre>

</pre>

</py:if> <!-- if dim -->   
  </div>
</div>




<script src="/js/stock.js"></script>


</body>
</html>
